@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Roboto:wght@100&display=swap');
/*! base css start  */
*{
    margin: 0;
    padding: 0;
}
/*! base css end  */
body{
    font-family: 'Electrolize', sans-serif;
}
.container{
    background-color: black;
    color: white;
}
/*! navbar start  */
.navbar{
    background-color: #000;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}
.menu-list{
    list-style: none;
    display: flex;
    column-gap: 20px;
    padding: 0;
   
}
.menu-list-item{
    font-size: 20px;
    text-decoration: none;
    color: red;
    
}
.menu-list-item.active{
    font-weight: bold;
}
.menu-list-item:hover{
    font-weight: bold;
}
.logo{
    width: 200px;
    color: white;
    padding-top: 40px;
}

.profile-picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-container{
    display: flex;
    align-items: center;
    position: sticky;
    column-gap: 20px;
}
.profile-text-container i{
    padding-right:7px ;
}
.giris{
    border: 2px solid;
    color: #c22139;
    border-radius: 30px;
    font-weight: 300px; 
}   
.giris:hover{
    background-color: #c22139;
    font-weight: bold;
    border-color: #c22139;
}
.kayıt{
    color: #adbac7; 
}
.kayıt:hover{
    font-weight: bold;
}
.profile-text-container a{
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    padding: 10px;
    display: flex;
    float: right; 
}  
.profile-text-container a:hover{
    color: pink;
}
.profile-text-container{
    display: flex;
    align-items: center;
    column-gap: 5px;
    line-height: 1 ;
}
.toggle-icon{
    color: goldenrod;
}
.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    position: relative;

}
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1px;
    transition: 0.5s ease all;

}
/*! navbar end */
/*! sidebar start */
.sidebar{
    background-color: #000;
    height: 100%;
    color: white;
    width: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    row-gap: 40px;
    align-items: center;
    position: fixed;
}
.sidebar i{
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.sidebar a{
    color: white;
    cursor: pointer;
    font-size: 20px;
}
/*! sidebar end */
/*! Movie list start */
.movie-list-container{
    margin-left: 80px;
}
.movie-list{
    list-style: none;
    height: 240px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    transform: translateX(0);
    transition: 1s ease-in-out;
   
}
.movie-item{
    position: relative;
}
.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons{
    opacity: 1;
}
.movie-item:hover .movie-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}
.movie-item-img{
    width: 260px;
    height: 190px;
    object-fit: cover;
    transition: 1s all ease-in-out;
    cursor: pointer;
}
.movie-item-title{
    background-color: rgb(40, 40, 40, 0.4);
    padding:10px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
    cursor: pointer;

}
.movie-item-buttons{
    background-color: rgb(40, 40, 40, 0.4);
    padding: 0 10px;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    left: 50px;
    display: flex;
    column-gap: 20px; 
    opacity: 0;
    transition: 1s all ease-in-out;
}
.movie-item-buttons i{
    cursor: pointer;
    opacity: .5;
    font-size: 20px;
    transition: 0.5s all ease;
}
.movie-item-buttons i:hover{
    opacity: 1;
}
.movie-list-wrapper{
    overflow: hidden;
    position: relative;
}
.arrow{
    width: 100px;
    display: flex;
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 100px;
    opacity: .5;
    transition: .5s ease all;
    cursor: pointer;
}
.arrow:hover{
    opacity: 1;
}
/*! Movie list end */
/*! Dark mode start  */
 .container.active{
    background-color: white;
 }
 .navbar.active{
    background-color: white;
    color: black;
 }
 .sidebar.active{
    background-color: white;
 }
 .sidebar i.active{
    color: black;  
 }
 .movie-list-title.active{
    color: black;
 }
 .toggle.active{
    background-color: black;
 }
 .toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
 }
.movie-list-filter select.active{
    background-color: white;
    color: black;
}
/*! Dark mode end  */
/*! responsive start */
@media only screen and (max-width:800px){
    .menu-container{
        display: none;
    }
    .featured-content{
         height: 50vh;
    }
    .featured-title{
        width: 200px;  
    }
    .featured-desc{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        max-width: 200px;
        padding: 0;
    }
}
/*! responsive end */